extends ./layouts/main-layout
block content
    if errorMessage
        span.errorMessage #{errorMessage}
    else
        script.
            const chatId='!{chat._id}'
            const chatData=!{chatJs}
        
        .chatPageContainer
            .chatTitleBarContainer.ellipsis
                span#chatName.ellipsis(data-toggle="modal",data-target="#createChatNameModal")

            .mainContentContainer 
                .chatContainer(data-room=chat._id)
                    ul.chatMessages

                    .typingDots
                        img(src='/images/typingDots.gif' alt='Typing dots')
                    .footer
                        textarea.inputTextBox(name="messageInput",placeholder="Type a message...")
                        button.sendMessageButton
                            i.fas.fa-paper-plane 
        
        +createChatNameModal(chat)                    

block scripts
    script(src='/js/messagesPage.js')