extends ./layouts/main-layout

block content
    .chatPageContainer 
        .chatTitleBar 
            label(for='userSearchTextBox') To: 
            #selectUsers 
                input#userSearchTextBox(type='text',placeholder='Type the name of the person')
        .resultsContainer 
        button#createChatButton(disabled) Create chat