extends ./layouts/main-layout
block content
    .resultsContainer

block headerButton 
    a(href='#')
        i#markNotificationsAsRead.fas.fa-check-double
block scripts
    script(src='/js/notifications.js')